[MASTER]
disable=
    C0114,  # missing-module-docstring
    C0115,  # missing-class-docstring
    C0116,  # missing-function-docstring
    E0401,   # Unable to import
    R0903,   # Too few public methods
    W0611,   # import usage
    C3001,   # lambda assignment
    R1720,   #unnecessery else
    W0718,   # general exception
    R1705,   # unnecessary elif
    W0613,   # unused argument
    R1710,   # return statement
    R0904,   # too many public methods
    C0103,   # snake_case
    E1003,   # Bad first argument 'cls_obj'
    W0238,   # Unused private member
    W0201,   # Attribute  defined outside __init__
    E1101,   # Instance of class has no meth member
    W0212,   # Access to a protected member
    E0602,
    W0621,   # redefine file name
    W0719,   # general exception
    C2801,   # unnecessary call
    W0640,   # variable defined in loop (cell-var-from-loop)



[FORMAT]
max-line-length=80
variable-rgx=[a-z_][a-z0-9_]*$