[MASTER]
disable=
    C0114,  # missing-module-docstring
    C0115,  # missing-class-docstring
    C0116,  # missing-function-docstring
    E0401,   # Unable to import
    R0903,   # Too few public methods
    W0611,   # import usage
    C3001,   # lambda assignment
    R1720,   #unnecessery else
    W0718,   # general exception
    R1705,   # unnecessary elif
    W0613,   # unused argument
    R1710    # return statement

[FORMAT]
max-line-length=80
variable-rgx=[a-z_][a-z0-9_]*$